target
.cache
.classpath
.project
.settings
*.iml
src/test/resources/keystore.jce
src/smoke-test/resources/SmokeTests.jceks

#Ignore all intellij files
.idea/*

# ... except these
!.idea/codeStyleSettings.xml
