dist: trusty
language: java
jdk:
- oraclejdk8

cache:
  directories:
  - $HOME/.m2

env:
  global:
  - secure: m7sMzcBvfteNPkw2i0C39d0sJooQc683YQnnnwyTA7GeCctLkblNZl4Cr0z1fHhEprZ+8XEh+jpZOerMnQMwdh1WoE3j8ftPKXkumyeIbNPRza1nj3Lga0UK+5sWYMGyjbjEN2J6e/+++Evx0xksxgb+xR/yzsIoUvQQjmeHNs0=
  - secure: VC9+GA8Viioh1n/MLk1yWty86jlfMzReg6AUwmzfzSS9ZcUK9ZMFkS8MUN8iUuPx6Lhvyb2LAZ4labxwNk5s4Yuro+SiAmwWojduEns7jszYrLf+7YL5OcdpGZC1l/ISMJIQPnSh2dXv4ZUa+i43azx48NkVmEGFPaL/ej4fZuw=

install: true

before_script:
  - cp .travis/maven.settings.xml ~/.m2/settings.xml

script:
  - mvn clean deploy --update-snapshots

