<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.apache.xml.security" level="ERROR"/>
    <logger name="org.jcp.xml.dsig" level="ERROR"/>
    <logger name="java.security" level="ERROR"/>
    <logger name="com.sun.org.apache.xml.internal.security" level="ERROR"/>

    <logger name="org.apache.http.wire" level="ERROR"/>
    <logger name="no.digipost" level="ERROR"/>
    <logger name="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor" level="INFO"/>

</configuration>
